# Hello Capstone Project Course! <br>
### This will be mainly used for the Capstone project

In [56]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import geocoder # import geocoder

ModuleNotFoundError: No module named 'geocoder'

### Here we are trying to webscrape the table and load the data into dataframe df

In [46]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
res = requests.get(link)
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
df = pd.DataFrame(df[0])

In [47]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

### Lets remove the Borough which are having values as 'Not assigned'

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal code     180 non-null object
Borough         180 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

In [49]:
df['Borough'].replace({'Not assigned':np.nan}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal code     180 non-null object
Borough         103 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

In [52]:
df.dropna(axis = 0, inplace = True)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
Postal code     103 non-null object
Borough         103 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 3.2+ KB

In [55]:
df.shape

(103, 3)

#### the shape of the dataframe is 103,3

### Lets merge the dataframe with the location values with the dataframe which we have webscraped

In [65]:
df1 = pd.read_csv('http://cocl.us/Geospatial_data')
df1.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [66]:
df1.columns = df1.columns.str.lower()

In [77]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
postal code    103 non-null object
latitude       103 non-null float64
longitude      103 non-null float64
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

In [68]:
df.columns = df.columns.str.lower()

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
postal code     103 non-null object
borough         103 non-null object
neighborhood    103 non-null object
dtypes: object(3)
memory usage: 8.2+ KB

In [82]:
df.merge(df1, how = 'inner', on = 'postal code')

,postal code,borough,neighborhood,latitude,longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North,43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing CentrE,43.662744,-79.321558
101,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...,43.636258,-79.498509
102,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...,43.628841,-79.520999